{% extends 'base.html' %}
{% block title %}FAQ{% endblock %}

{% block  content %}
    <h3>Terms of Use</h3>
    <b>The Ticketsloth Terms of Use is a contract between you as the user and Ticketsloth, the company that runs this
        website. You should read our entire Terms of Use, but here are some highlights of it to help guide you as you
        read it. The full Terms of Use still applies.</b>

    <br/>        <br/>

    1. Ticketsloth is for adults aged 18 and older.
    <br/>
    <br/>
    2. You are not allowed to take or sell or distribute any content on our site. We are allowed to use, copy, or
    display any content that you post to our site.
    <br/>
    <br/>
    3. You are not allowed to spam our site, or use robots, crawlers, etc.
    <br/>
    <br/>
    4. We can control your access to our site through various means if we feel it is necessary to do so.

    <br/><br/><b>WELCOME TO TICKETSLOTH.</b> We hope you enjoy our website. By accessing our servers, websites, or
    content
    therefrom (together, "Ticketsloth"), you agree to these Terms of Use ("TOU"), last updated October 21, 2015.
    <br/>
    <b>LICENSE.</b> If you are 18 or older, we grant you a limited, revocable, nonexclusive, nonassignable,
    nonsublicensable license to access Ticketsloth in compliance with the TOU; unlicensed access is unauthorized.
    You agree not to license, distribute, make derivative works, display, sell, or "frame" content from Ticketsloth,
    excluding content you create and sharing with friends/family. You grant us a perpetual, irrevocable, unlimited,
    worldwide, fully paid/sublicensable license to use, copy, perform, display, distribute, and make derivative
    works from content you post.
    <br/>

    <b>USE.</b> You agree not to use or provide software (except for general purpose web browsers and email clients,
    or software expressly licensed by us) or services that interact or interoperate with Ticketsloth, e.g. for
    downloading, uploading, posting, flagging, emailing, search, or mobile use. Robots, spiders, scripts, scrapers,
    crawlers, etc. are prohibited, as are misleading, unsolicited, unlawful, and/or spam postings/email. You agree
    not to collect users' personal and/or contact information ("PI").
    <br/>
    <b>MODERATION.</b> You agree we may moderate Ticketsloth access and use in our sole discretion, e.g. by blocking
    (e.g. IP addresses), filtering, deletion, delay, omission, verification, and/or access/account/license
    termination. You agree (1) not to bypass said moderation, (2) we are not liable for moderating, not moderating,
    or representations as to moderating, and (3) nothing we say or do waives our right to moderate, or not. All site
    rules are incorporated herein.
    <br/>
    <b>DISCLAIMER.</b> MANY JURISDICTIONS HAVE LAWS PROTECTING CONSUMERS AND OTHER CONTRACT PARTIES, LIMITING THEIR
    ABILITY TO WAIVE CERTAIN RIGHTS AND RESPONSIBILITIES. WE RESPECT SUCH LAWS; NOTHING HEREIN SHALL WAIVE RIGHTS OR
    RESPONSIBILITIES THAT CANNOT BE WAIVED.
    To the extent permitted by law, (1) we make no promise as to Ticketsloth, its completeness, accuracy,
    availability, timeliness, propriety, security or reliability; (2) your access and use are at your own risk, and
    Ticketsloth is provided "AS IS" and "AS AVAILABLE"; (3) we are not liable for any harm resulting from (a) user
    content; (b) user conduct, e.g. illegal conduct; (c) your Ticketsloth use; or (d) our representations; (4) WE
    AND OUR OFFICERS, DIRECTORS, EMPLOYEES ("TICKETSLOTH ENTITIES"), DISCLAIM ALL WARRANTIES & CONDITIONS, EXPRESS
    OR IMPLIED, OF MERCHANTABILITY, FITNESS FOR PARTICULAR PURPOSE, OR NON-INFRINGEMENT; (5) TICKETSLOTH ENTITIES
    ARE NOT LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, OR ANY LOSS (E.G. OF
    PROFIT, REVENUE, DATA, OR GOODWILL); (6) IN NO EVENT SHALL OUR TOTAL LIABILITY EXCEED $100.
    <br/>
    <b>CLAIMS.</b> You agree (1) any claim, cause of action or dispute ("claim") arising out of or related to the
    TOU or your Ticketsloth use is governed by Illinois ("IL") law regardless of your location or any conflict or
    choice of law principle; (2) claims must be resolved exclusively by state or federal court in Chicago, IL
    (except we may seek injunctive remedy anywhere); (3) to submit to personal jurisdiction of said courts; (4) any
    claim must be filed by 1 year after it arose or be forever barred; (5) not to bring or take part in a class
    action against Ticketsloth Entities; (6) (except government agencies) to indemnify Ticketsloth Entities for any
    damage, loss, and expense (e.g. legal fees) arising from claims related to your Ticketsloth use; (7) you are
    liable for TOU breaches by affiliates (e.g. marketers) paid by you, directly or indirectly (e.g. through an
    affiliate network); and (8) to pay us for breaching or inducing others to breach the "USE" section, not as a
    penalty, but as a reasonable estimate of our damages (actual damages are often hard to calculate): $0.10 per
    server request, $1 per post, email, flag, or account created, $1 per item of PI collected, and $1000 per
    software distribution, capped at $25,000 per day.
    <br/>

    <b>MISC.</b> Users complying with prior written licenses may access Ticketsloth thereby until authorization is
    terminated. Otherwise, this is the exclusive and entire agreement between us. If a TOU term is unenforceable,
    other terms are unaffected.


{% endblock %}