{% extends "base.html" %}
{% load humanize %}
{% load staticfiles i18n %}
{% load crispy_forms_tags %}

{% block title %}{{ ticket.title }}{% endblock %}
{% block content %}

<section class="mainCotainer" id="listingDetails">
    <article>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-7">
                    <div class="cardTitle">
                        <div class="event">
                            <div class="name">{{ ticket.title }}</div>
                            <div class="date">{{ ticket.event_date }}</div>
                        </div>
                        <div class="info">
                            <div class="price">${{ ticket.price|floatformat:"0" }}</div>
                            <div class="available">{{ ticket.ticket_total }} ticket(s) available</div>
                        </div>
                    </div>
                    <!--<div class="tags">-->
                        <!--<div class="tag">rock</div>-->
                        <!--<div class="tag">k-pop</div>-->
                        <!--<div class="tag">alternative</div>-->
                    <!--</div>-->
                    <div class="seller"><img class="profilePic" src="{{ ticket.seller.image.thumbnail.80x80 }}">
                        <div class="qual">
                            <div class="name">{{ ticket.seller }}</div>
                            <div class="stars">
                                {% if ticket.seller.average_review_score >= 5 %}
                                    <div class="star"></div>
                                    <div class="star"></div>
                                    <div class="star"></div>
                                    <div class="star"></div>
                                    <div class="star"></div>
                                {% elif ticket.seller.average_review_score >= 4 %}
                                    <div class="star"></div>
                                    <div class="star"></div>
                                    <div class="star"></div>
                                    <div class="star"></div>
                                {% elif ticket.seller.average_review_score >= 3 %}
                                    <div class="star"></div>
                                    <div class="star"></div>
                                    <div class="star"></div>
                                {% elif ticket.seller.average_review_score >= 2 %}
                                    <div class="star"></div>
                                    <div class="star"></div>
                                {% elif ticket.seller.average_review_score >= 1 %}
                                    <div class="star"></div>
                                {% else %}
                                    <p>No Reviews</p>
                                {% endif %}
                            </div>
                            <div class="num">({{ ticket.seller.reviews.count }})</div>
                        </div>
                        <div class="attributes">
                            {% if ticket.seller.phone_verified %}
                                <div class="attribute"><img src="/static/images/identity-verified.svg">
                                    <div class="verifyed">Identity Verified</div>
                                </div>
                                <!--<div class="attribute"><img src="/static/images/facebook-verified.svg">-->
                                    <!--<div class="verifyed">Facebook Verified</div>-->
                                <!--</div>-->
                                <div class="attribute"><img src="/static/images/phone-verified.svg">
                                    <div class="verifyed">Phone Verified</div>
                                </div>
                                {% else %}
                                <p>Not verified</p>
                                {% endif %}
                        </div>
                        <div class="des">{{ ticket.description }}</div>
                        <div class="contactButton">
                            {% with ticket.seller as account %}
                            {% if request.user.is_authenticated %}
                            <a href="{% url 'postman:write' account %}" type="button"
                               class="btn btn-default redButton message-button">Contact the Seller</a>
                            {% else %}
                            <a href="{% url 'account_login' %}" type="button"
                               class="btn btn-default red Button message-button">Login to contact the Seller</a>
                            {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-1"></div>
                <div class="col-xs-12 col-md-4 mmm">
                    <div class="legendFeat container-fluid">
                        <div class="legend">BUYING ON TICKETSLOTH IS SAFE, AFFORDABLE, AND RELIABLE</div>
                        <div class="row buyingRow">
                            <div class="col-xs-12">
                                <div class="feat"><img src="/static/images/buyerprotection-icon.svg">
                                    <div class="info">
                                        <div class="title">BUYER PROTECTION</div>
                                        <div class="des">It was a humorously perilous business for both of us.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="feat"><img src="/static/images/review-icon.svg">
                                    <div class="info">
                                        <div class="title">REVIEW SYSTEM</div>
                                        <div class="des">It was a humorously perilous business for both of us.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="feat"><img src="/static/images/nofees-icon.svg">
                                    <div class="info">
                                        <div class="title">NO FEES</div>
                                        <div class="des">It was a humorously perilous business for both of us.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="more-info container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-7">
                    <h2>More information about {{ ticket.seller }}, the seller:</h2>
                    <div class="seller-info"><img class="profilePic" src="{{ ticket.seller.image.thumbnail.150x150 }}">
                        <div class="info">
                            <div class="name">{{ ticket.seller }}</div>
                            <div class="des">{{ ticket.seller.bio }}</div>
                        </div>
                    </div>
                    <div class="buttons">
                        <a href="{{ ticket.seller.get_absolute_url }}" class="redButton outline">SEE SELLER'S PROFILE</a>
                    </div>
                    <div class="reviews">
                        <h2>{{ ticket.seller.reviews.count }} REVIEW(S)
                            <div class="stars">
                            {% if ticket.seller.average_review_score >= 5 %}
                            <div class="star"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                            {% elif ticket.seller.average_review_score >= 4 %}
                            <div class="star"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                            {% elif ticket.seller.average_review_score >= 3 %}
                            <div class="star"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                            {% elif ticket.seller.average_review_score >= 2 %}
                            <div class="star"></div>
                            <div class="star"></div>
                            {% elif ticket.seller.average_review_score >= 1 %}
                            <div class="star"></div>
                            {% else %}
                            <p>No Reviews</p>
                            {% endif %}
                            </div>
                        </h2>
                        <div class="hDivider"></div>
                        {% for review in ticket.seller.reviews.all|slice:":3" %}
                        <div class="reviewListing">
                            <div class="author"><img src="{{ review.creator.image.thumbnail.150x150 }}">
                                <div class="name">{{ review.creator.username }}</div>
                            </div>
                            <div class="review">
                                <img class="trian" src="/static/images/blanktrian2.png">
                                <div class="reviewText">{{ review.message }}</div>
                                <div class="date">{{ review.created_at|date:"F jS Y" }}</div>
                            </div>
                        </div>
                        {% endfor %}

                        <div class="buttons">
                            <a href="{% url 'all_reviews_view' ticket.seller.pk %}" class="redButton outline">SEE ALL REVIEWS</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-1"></div>
                <div class="col-xs-12 col-md-4"></div>
            </div>
        </div>
        <div class="otherLike">
            <h2>YOU MAY ALSO LIKE</h2>
            {% you_may_also_like request.region 3 %}
        </div>
    </article>
</section>

{% endblock %}
