{% extends "base.html" %}
{% load event_tags %}
{% load staticfiles i18n %}

{% block title %}{{ venue.name }}{% endblock %}

{% block content %}

<section class="mainCotainer" id="venueDetails">
    <article>
        <div class="venue_main_card container-fluid">
            <div class="row">
                <div class="image col-xs-12 col-md-5"><img src="{{ venue.image.crop.500x500 }}">
                    <div class="over">
                        <div class="imageInfo">
                            <div class="place">{{ venue.region }}</div>
                            <div class="type">{{ venue.type }}</div>
                            <div class="artist">{{ venue.name }}</div>
                        </div>
                    </div>
                </div>
                <div class="info col-xs-12 col-md-7">
                    <div class="col-xs-12 col-md-8">
                        <div class="icons">
                            {% if venue.alcohol_available %}
                                <img data-toggle="tooltip" title="" src="/static/images/alcohol-icon.svg" data-original-title="Alcohol available">
                            {% endif %}
                            {% if venue.food_available %}
                                <img data-toggle="tooltip" title="" src="/static/images/food-icon.svg" data-original-title="Food available">
                            {% endif %}
                            {% if venue.numbered_seats %}
                                <img data-toggle="tooltip" title="" src="/static/images/seats-icon.svg" data-original-title="Numbered seats">
                            {% endif %}
                            {% if venue.coat_check_available %}
                                <img data-toggle="tooltip" title="" src="/static/images/coatcheck-icon.svg" data-original-title="Coat-check available">
                            {% endif %}
                        </div>
                        <div class="des">{{ venue.bio }}</div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-5">
                                <div class="labelButtons">
                                    <!--<div class="labelButton redText">-->
                                        <!--<a href="http://ticket.perspira.com/venue_detail.html#"><img src="/static/images/photos-icon.svg">SEE PHOTOS</a>-->
                                    <!--</div>-->
                                    <!--<div class="labelButton redText">-->
                                        <!--<a href="http://ticket.perspira.com/venue_detail.html#"><img src="/static/images/review-icon-red.svg">LEAVE A REVIEW</a>-->
                                    <!--</div>-->
                                    <div class="labelButton redText">
                                        {% if venue.link %}
                                            <a href="{{ venue.link }}" target="_blank"><img src="/static/images/website-icon.svg">VISIT WEBSITE</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="reviewContainer col-xs-12 col-sm-7">
                                <div class="reviewText">“It has a separate concert hall that hosts first rate shows and a large courtyard for dining alfresco.”</div>
                                <a class="redButton scrollButton" href="#upcomingList">SEE UPCOMING EVENTS<img src="/static/images/downwards-icon.svg"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="adress">{{ venue.full_address }}</div>
                        <div class="getDir">GET DIRECTIONS</div>
                        {% if venue.google_maps_uri %}
                            <iframe class="map" src="{{ venue.google_maps_uri }}" width="110" height="180" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="list row" id="upcomingList">
            <div class="col-xs-12 col-md-8">
                <h2> UPCOMING EVENTS AT <span class="accent">{{ venue.name }}</span></h2>
                {% include 'partial/event_list.html' with events_list=venue.upcoming_events %}
            </div>
            <div class="col-xs-12 col-md-4 featured">
                <h2>FEATURED EVENT:</h2>
                {% you_may_also_like request.region 1 %}
            </div>
        </div>
        <div class="otherLike">
            {% you_may_also_like_venues request.region 3 %}
        </div>
    </article>
</section>
{% endblock %}