<div class="col-xs-12 col-sm-6 col-md-4">
    <div class="venue_card">
        <div class="headerImage"><img src="{{ venue.image.crop.350x350 }}"></div>
        <div class="info">
            <div class="col col1">
                <div class="city">{{ venue.name }}</div>
                <div class="des">{{ venue.bio }}</div>
                <div class="nEvents">{{ venue.upcoming_events.count }} events</div>
                <div class="prox">coming up</div>
                <div class="upcoming"><span class="title">Upcoming: </span><span class="band">{{ venue.upcoming_events.first.bands }}</span></div><a class="redButton" href="{{ venue.get_absolute_url }}">See all events</a></div>
            <div class="col col2">
                <div class="adress">{{ venue.full_address }}</div><a class="getDir">GET DIRECTIONS</a>
                {% if venue.google_maps_uri %}
                    <iframe class="map" src="{{ venue.google_maps_uri }}" width="110" height="180" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                {% endif %}
            </div>
        </div>
    </div>
</div>