<!-- steps intro accordion -->
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Get Started</h4>
        </div>
        <div class="panel-body">
            <ul class="list-unstyled">
                <li><a href="{% url 'account_signup' %}" role="button">Sign Up</a></li>
                <li><a href="{% url 'post' %}" role="button">Post Listing</a></li>
                <li><a href="{% url 'ticket_list' %}" role="button">Search Tickets</a></li>
                <li><a href="{% url 'event_list' %}" role="button">Find Events</a></li>
                <li><a href="{% url 'create_event' %}" role="button">Add Event</a></li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">How It Works</h4>
        </div>
        <div class="panel-body">
            <ol id="how-it-works-list">
                <li>Search for the ticket you want to see, if you can't find it just post a looking for listing.</li>
                <li>If you found a listing, message the user or just commmit to the transaction to secure your spot. Or
                    wait for someone to respond to your listing.
                </li>
                <li>Once both you and the seller/buyer commited to a transaction, you can coordinate to meet up or
                    transact online.
                </li>
                <li>Don't forget to leave a reivew for your partner, this way both of you can build reputations on the
                    site and ensure a safe and trustworthy experience.
                </li>
            </ol>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                    About Us
            </h4>
        </div>
        <div>
            <div class="panel-body">
                Welcome to Listing Exchange, a web app to discover new shows, new friends and sell your extra concert
                tickets. Because no one should go to a show alone. We're working to build a safe platform fo ticket
                resales and local community for music fans.
            </div>
        </div>
    </div>
</div>
<!-- end intro Accordion -->