<p>Hello {{recipient}}, </p> 
<p>You are receiving this email because you have committed to the ticket sale for the listing: {{listing_name}}. </p> 
<p>Here are the details to get in contact with {{member_name}}:</p>
<p>Contact email: {{contact_email}}</p>
<p>Contact phone: {{contact_phone}}</p>
<p>When you have both met and the exchange is marked as completed, please return to ticketsloth and write a review about your experience. Reviews help users establish trust for 
future exchanges.</p><br>
<p>-Listing Sloth</p>